<ion-view view-title="Order" hide-nav-bar="true" cache-view="false">
  
 

  <ion-header-bar align-title="center"  class="bar-dark sky-pos-green" cache-view="false">
  <div class="buttons">
    <button class="button button-icon button-clear ion-navicon" ng-click="toggleMenu()">
    	<span class="order-page-header-menu-text">Menu</span>
          </button>
  </div>
  <h1 class="title text-left order-header-title"  align-title="left" style="text-left"></h1>
   <div class="buttons">
          
  </div>
</ion-header-bar>

    <ion-content scroll="false" class="has-header">
   
    <div class="my-container tip-pages" style="">

          <div style="width:auto;" class="">
              <div class="list">
                <a ng-href="#/app/adjust-tips" class="item  item-icon-left item-button-right item-icon-right" >
                  <i class="icon"><img src="custom/Assets/Tips/ic_menu_tip_adjust.png" style="height:30px;width:30px;"></i>
                  <h3>Adjust Tips</h3>
                  <i class="icon"><img src="custom/images/arrow_right.png" style="height:30px;width:30px;"></i>
                </a>

                 <a ng-href="#" class="item  item-icon-left item-button-right item-icon-right" >
                  <i class="icon"><img src="custom/Assets/Tips/ic_menu_tip_validate.png" style="height:30px;width:30px;"></i>
                  <h3>Validate Tips</h3>
                  <i class="icon"><img src="custom/images/arrow_right.png" style="height:30px;width:30px;"></i>
                </a>

                 <a ng-href="#" class="item  item-icon-left item-button-right item-icon-right" >
                  <i class="icon"><img src="custom/Assets/Tips/ic_menu_tip_report.png" style="height:30px;width:30px;"></i>
                  <h3>Tips Report</h3>
                  <i class="icon"><img src="custom/images/arrow_right.png" style="height:30px;width:30px;"></i>
                </a>
                 <a ng-href="#" class="item  item-icon-left item-button-right item-icon-right" >
                  <i class="icon"><img src="custom/Assets/Tips/ic_menu_tip_correcting_adjustment.png" style="height:30px;width:30px;"></i>
                  <h3>Correcting Tip Adjustment</h3>
                  <i class="icon"><img src="custom/images/arrow_right.png" style="height:30px;width:30px;"></i>
                </a>
                 <a ng-href="#" class="item  item-icon-left item-button-right item-icon-right" >
                  <i class="icon"><img src="custom/Assets/Tips/ic_menu_tip_finalize_adjustment.png" style="height:30px;width:30px;"></i>
                  <h3>Finalize Tip Adjustment (For Credit Only)</h3>
                  <i class="icon"><img src="custom/images/arrow_right.png" style="height:30px;width:30px;"></i>
                </a>
                 <a ng-href="#" class="item  item-icon-left item-button-right item-icon-right" >
                  <i class="icon"><img src="custom/Assets/Tips/ic_menu_tip_settle.png" style="height:30px;width:30px;"></i>
                  <h3>Tip Settle</h3>
                  <i class="icon"><img src="custom/images/arrow_right.png" style="height:30px;width:30px;"></i>
                </a>

              </div>
    	    </div>
    </div>    



 
    </ion-content>

  
</ion-view>

