<ion-view view-title="Order" hide-nav-bar="true" cache-view="false">
    <ion-header-bar align-title="left"  class="bar-dark sky-pos-green" cache-view="false">
        <div class="buttons">
            <a href="#/app/tips" class="button button-icon button-clear icon ion-arrow-left-c">
                <span class="order-page-header-menu-text"></span>
            </a>
        </div>
        <h1 class="title text-left order-header-title"  align-title="left" style="text-align:left">Tip Adjustment</h1>
        <div class="buttons">
            <button type="button" ng-click="adjustTips()" class="order-header-icon button button-icon button-clear ion-checkmark"></button>
        </div>
    </ion-header-bar>

    <ion-content scroll="true" has-bouncing="false" class="has-header has-footer has-sub-header" style="background-color: #F3F3F3;">

        <div class="my-container" style="">

            <!-- tip input -->
            <div class="tip-payment-wrapper">
                <div class="row">
                    <div class="col-30 split-textbox-label">Receipt No#:</div>
                    <div class="col-60">
                        <input class="split-textbox" type="text" ng-model="order_id" />
                    </div>
                    <div class="col-10">
                        <button class="tip-payment small-btn" ng-click="showSearchReceiptModal()">
                            <i class="ion-search"></i>
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-30 split-textbox-label">Tip Amount:</div>
                    <div class="col-70">
                        <input class="split-textbox" type="text" ng-model="tip_amount" />
                    </div>
                </div>
            </div>
            <!-- /tip input -->

            <!-- stuff -->
            <div class="stuff-wrapper">
                <div style="overflow:hidden;margin-right:0px" class="row item item-body" ng-repeat="item in employees">
                    <div style="padding:0px"  class="col">
                        <div style="padding:0px"  class="row recall-list" id="my-row-{{$index}}">
                            <div class="col col-90">
                                <div class="stuff-item my-item" style="float:left;margin-left:10px;">
                                    <span class="customer">Employee Name {{item.name}}</span>
                                </div>
                                <div class="stuff-item my-item" style="float:right;margin-right:10px;">
                                    <span class="customer">${{item.amount | number: 2}}</span>
                                </div>
                                <span class="item-note">
                                    <p style="white-space:pre-wrap; text-align:right;color:#607d8b;" ng-bind-html="splitDate(data.ODate)"></p>
                                </span>
                            </div>
                            <div class="col" style="text-align:right;"><h3><a style="cursor:pointer;cursor:hand;" class="" ng-click="setClass($event,$index)"><img check-image ng-src="custom/Assets/order/ic_vertical_ellipsis.png" style="height:30px;width:30px;"></a></h3></div>
                        </div>

                        <div style="position:absolute;padding:0px;margin:0px;top:0px;" id="my-button-{{$index}}" class=" button-shift-right">
                            <div>
                                <button  type="button" ng-click="gotoSplitBillByTotal($index)" style="border-radius:0px;line-height: 46px;width:70px; height:100%;font-size:14px;padding-top:2px;"  class="order-edit-button button icon-center  button-assertive sky-pos-green"> <img src="custom/Assets/Tips/ic_edit_staff_tip.png" style="width:25px;margin-top:16px;padding-top:2px;" /></button>
                                <button  type="button" ng-click="showServiceChargeModal($index)" style="padding:2px 5px;border-radius:0px;line-height: 46px;width:70px; font-size:12px;margin-left:-4px;white-space:nowrap;" class="order-edit-button button icon-center  button-assertive sky-pos-dark-green"><img src="custom/Assets/Tips/ic_delete_staffs_white.png" style="width:24px;margin-top:15px;" /></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /stuff -->

            <!-- payment methods -->
            <div class="payment-method-wrapper">
                <div class="row payment-pics">
                    <div class="col darkest-yellow">
                        <img ng-src="custom/Assets/Tips/ic_tip_payment_cash.png" alt="" class="">
                    </div>
                    <div class="col dark-yellow" ng-click="showCreditPaymentModal()">
                        <img ng-src="custom/Assets/Tips/ic_tip_payment_credit_card.png" alt="" class="">
                    </div>
                    <div class="col middle-yellow" ng-click="showCheckPaymentModal()">
                        <img ng-src="custom/Assets/Tips/ic_tip_payment_check.png" alt="" class="">
                    </div>
                    <div class="col light-yellow" ng-click="showAnalogPaymentModal()">
                        <img ng-src="custom/Assets/Tips/ic_tip_payment_analog.png" alt="" class="">
                    </div>
                    <div class="col lightest-yellow" ng-click="showGiftPaymentModal()">
                        <img ng-src="custom/Assets/Tips/ic_tip_payment_gift.png" alt="" class="">
                    </div>
                </div>
                <div class="row payment-labels">
                    <div class="col">
                        Cash Tips
                    </div>
                    <div class="col">
                        Credit Tips
                    </div>
                    <div class="col">
                        Check Tips
                    </div>
                    <div class="col">
                        Analog Tips
                    </div>
                    <div class="col">
                        Gift Tips
                    </div>
                </div>
            </div>
            <!-- /payment methods -->

            <div style="height:28px;padding-top:2px;" class="text-white row sky-pos-light-green">
                <div class="col-70">Tips Information</div>
                <div class="col-30">Total Tips: <span style="color:#E4F711;float: right;">$0.00</span></div>
            </div>

            <!-- tip list -->
            <div class="tip-list-wrapper">
                <div class="row tip-list-header">
                    <div class="col-80">TIP BY</div>
                    <div class="col-20"><span style="float: right;">AMOUNT</span></div>
                </div>
                <div class="tip-list">
                    <div style="overflow:hidden;margin-right:0px" class="row item item-body" ng-repeat="item in tips" id="tip-row-{{$index}}">
                        <div class="col-20">
                            <img ng-src="custom/Assets/Tips/ic_tip_payment_{{item.method}}.png" alt="" class="img-responsive">
                        </div>
                        <div class="col-50">
                            {{item.method | uppercase}}
                        </div>
                        <div class="col-30">
                            <span style="float: right;">${{item.amount | number: 2}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /tip list -->

        </div>

    </ion-content>
    <div style="margin-top:140px;" class="bar bar-footer sky-pos-light-green">
        <div class="row">
            <div class="col">
                <div class="text-white" style="text-align:center;width:100%">
                    <span>Search Receipt</span><br>
                    <a  type="button" ng-click="showSearchReceiptModal();" style="color:#FFF;margin-top:-65px;" class="button sky-pos-light-green icon-search-items top"></a>

                </div>
            </div>
            <div class="col">
                <div class="text-white" style="text-align:center;width:100%">
                    <span>Add Stuff</span><br>
                    <button  type="button" ng-click="showAddStuffModal()" style="color:#FFF;margin-top:-65px;" class="button sky-pos-light-green icon-add-items top"></button>
                </div>
            </div>
        </div>
    </div>

</ion-view>