<ion-modal-view>
<ion-header-bar align-title="left" class="bar-positive sky-pos-green">
    <div class="buttons buttons-right">
		<button ng-click="closeCheckPaymentModal()" class="button button-icon button-clear icon ion-arrow-left-c">
			<span class="order-page-header-menu-text"></span>
		</button>
    </div>
    <h1 class="title">Check Tips</h1>
    <div class="buttons buttons-right">
      <button ng-click="doPayment('check');closeCheckPaymentModal();" class="button button-clear"><i class="ion-checkmark"></i></button>
    </div>
  </ion-header-bar>


  <ion-content style="background-color:#DFDEDE;">
    
    <div style="width:auto;" class="">

		<div class="row">
			<div class="col-20">
				<img class="img-responsive camera-img" src="custom/Assets/Tips/ic_camera_green.png" alt="">
			</div>
			<div class="col-80 img-preview-wrapper">
				<div class="img-preview"></div>
			</div>
		</div>
	    
		 <div class="list">
		  <label class="item item-input item-fixed-label">
			<span class="input-label">Check No: </span>
			<input type="number" ng-model="payment_model.check_number" required placeholder="Check No.">
		  </label>
		  
		  <label class="item item-input">
			<span class="input-label">Driver License: </span>
			<input type="text" ng-model="payment_model.driver_license" required placeholder="Driver License">
		  </label>
		  <label class="item item-input ">
			<span class="input-label">Tip Amount: </span>
			<input type="number" ng-model="payment_model.amount" placeholder="Amount">
		  </label>

			 <div  class="item tips_change_amount">
				 <div class="row">
					 <div class="col"><button ng-click="payment_model.amount=payment_model.osum*0.01" type="button" style="padding-top:10px;padding-bottom:10px;" class="button-block">1%</button></div>
					 <div class="col"> <button ng-click="payment_model.amount=payment_model.osum*0.02" type="button" style="padding-top:10px;padding-bottom:10px;" class="button-block">2%</button></div>
					 <div class="col"> <button ng-click="payment_model.amount=payment_model.osum*0.05" style="padding-top:10px;padding-bottom:10px;" class="button-block">5%</button></div>
				 </div>
				 <div class="row">
					 <div class="col"><button ng-click="payment_model.amount=payment_model.osum*0.1" type="button" style="padding-top:10px;padding-bottom:10px;" class="button-block">10%</button></div>
					 <div class="col"> <button ng-click="payment_model.amount=payment_model.osum*0.2" type="button" style="padding-top:10px;padding-bottom:10px;" class="button-block">20%</button></div>
					 <div class="col"> <button ng-click="payment_model.amount=payment_model.osum*0.5" type="button" style="padding-top:10px;padding-bottom:10px;" class="button-block">50%</button></div>
				 </div>
				 <div class="row">
					 <div class="col"><button ng-click="payment_model.amount=payment_model.osum" type="button" style="padding-top:10px;padding-bottom:10px;" class="button-block">100%</button></div>
					 <div class="col"> <button ng-click="payment_model.amount=payment_model.osum*0.1" type="button" style="padding-top:10px;padding-bottom:10px;" class="button-block green-btn">Exact Amount</button></div>
					 <div class="col"> <button ng-click="payment_model.amount=''" type="button" style="padding-top:10px;padding-bottom:10px;" class="button-block">
						 <img src="custom/Assets/clockInOut/ic_key_pad_clear_green.png" alt="" style="width: 34px;">
					 </button></div>
				 </div>
			 </div>

		 </div>
</div>

  </ion-content>

	<div style="margin-top:140px;" class="bar bar-footer sky-pos-light-green">
		<div class="row">

			<div class="col col-100">
				<div style="text-align:center;width:100%">
					<button type="button" ng-click="doPayment('check');closeCheckPaymentModal();" style="width:70px;height:70px;border-radius:50px;color:#FFF;margin-top:-40px;" class="button sky-pos-light-green  ion-checkmark"><br>OK</button>
				</div>
			</div>

		</div>
	</div>

</ion-modal-view>
