<ion-view view-title="Order" hide-nav-bar="true" cache-view="false">
    <ion-header-bar align-title="left"  class="bar-dark sky-pos-green" cache-view="false">
        <div class="buttons">
            <button ng-click="closeSearchReceiptModal()" class="button button-icon button-clear icon ion-arrow-left-c">
                <span class="order-page-header-menu-text"></span>
            </button>
        </div>
        <h1 class="title text-left order-header-title"  align-title="left" style="text-align:left">Search Receipt</h1>
    </ion-header-bar>

    <ion-content scroll="true" has-bouncing="false" class="has-header has-footer has-sub-header" style="background-color: #F3F3F3;">

        <div class="my-container" style="">

            <!-- tip input -->
            <div class="tip-payment-wrapper">
                <div class="row">
                    <div class="col-40">
                        <div class="split-textbox-label">Receipt No</div>
                        <input class="split-textbox" type="text" ng-model="order_id" />
                    </div>
                    <div class="col-40" style="padding: 0 5px">
                        <div class="split-textbox-label">Last Service</div>
                        <input class="split-textbox" type="date" ng-model="order_date" />
                    </div>
                    <div class="col-20">
                        <i class="ion-search"></i>
                    </div>
                </div>
            </div>
            <!-- /tip input -->

            <div class="list">
                <div class="row item item-body fat-item" ng-repeat="item in receipts | filter:order_id | filter:order_date" ng-click="setReceipt($index)">
                    <div class="col-50" data-date="{{item.OrderDate}}">{{item.OrderId}}</div>
                    <div class="col-30">{{item.CustomerName}}</div>
                    <div class="col-20 text-right">{{item.OSum}}</div>
                </div>
            </div>

        </div>

    </ion-content>
    <div style="margin-top:140px;" class="bar bar-footer sky-pos-light-green">
        <div class="row">
            <div class="col">
                <div class="text-white" style="text-align:center;width:100%">
                    <span>Select</span><br>
                    <a  type="button" ng-click="addSearchReceipt();" style="color:#FFF;margin-top:-65px;" class="button sky-pos-light-green ion-checkmark top"></a>
                </div>
            </div>
        </div>
    </div>

</ion-view>