<ion-view view-title="Order" hide-nav-bar="true" cache-view="false">
    <ion-header-bar align-title="left"  class="bar-dark sky-pos-green" cache-view="false">
        <div class="buttons">
            <a href="#/app/tips" class="button button-icon button-clear icon ion-arrow-left-c">
                <span class="order-page-header-menu-text"></span>
            </a>
        </div>
        <h1 class="title text-left order-header-title"  align-title="left" style="text-align:left">Validate Tips</h1>
        <div class="buttons">
            <button type="button" ng-click="adjustTips()" class="order-header-icon button button-icon button-clear ion-search"></button>
        </div>
    </ion-header-bar>

    <ion-content scroll="true" has-bouncing="false" class="has-header has-footer has-sub-header" style="background-color: #F3F3F3;">

        <div class="my-container" style="">
            
              <!-- valid data input -->
            <div class="tip-validate-wrapper">
                <div class="row">
                    <div class="col-50 split-textbox-label">Choose Date:</div>
                    <div class="col-40">
                        <input class="split-textbox" type="text" ng-model="order_id" />
                    </div>
                    <div class="col-10">
                        <button class="tip-payment small-btn" ng-click="searchOrder()">
                            <i class="ion-calendar"></i>
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-50 split-textbox-label">Total Gross Credit:</div>
                    <div class="col-50">
                        <input type="number" class="split-textbox" ng-model="payment_model.card_number" required placeholder="Gross Credit">
                    </div>
                </div>
                <div class="row">
                    <div class="col-50 split-textbox-label">Total Net Credit:</div>
                    <div class="col-50">
                        <input type="number" class="split-textbox" ng-model="payment_model.card_number" required placeholder="Net Credit">
                    </div>
                </div>
                <div class="row">
                    <div class="col-50 split-textbox-label">Total Tips Adjusted:</div>
                    <div class="col-50">
                        <input type="number" class="split-textbox" ng-model="payment_model.card_number" required placeholder="Tips Adjusted">
                    </div>
                </div>
                <div class="row">
                    <div class="col-50 split-textbox-label">Tips to be paid to Waistaff:</div>
                    <div class="col-50">
                        <input type="number" class="split-textbox" ng-model="payment_model.card_number" required placeholder="Paid Waistaff">
                    </div>
                </div>
                
            </div>
            <!-- /valid data input -->
            
            
            
            
          <div class="tip-valid-receipt">
                <div class="row">
                    <div class="col-25 split-textbox-label">Receipt No:</div>
                    <div class="col-25">
                        <input type="number" class="split-textbox" ng-model="payment_model.card_number">
                    </div>
                    <div class="col-25 split-textbox-label">Tips Adiusted:</div>
                    <div class="col-25">
                        <input type="number" class="split-textbox" ng-model="payment_model.card_number">
                    </div>
                </div>
            </div>
            <!-- /valid data input -->
          



        </div>

    </ion-content>
    
	<div style="margin-top:140px;" class="bar bar-footer sky-pos-light-green">
		<div class="row">

			<div class="col col-100">
				<div style="text-align:center;width:100%">
					<button type="button" ng-click="closeAnalogPaymentModal()" style="width:70px;height:70px;border-radius:50px;color:#FFF;margin-top:-40px;" class="button sky-pos-light-green  ion-checkmark"><br>VALIDATE ALL</button>
				</div>
			</div>

		</div>
	</div>

</ion-view>